name: "Build"

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: windows-latest

    permissions:
      contents: read

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      DOTNET_ADD_GLOBAL_TOOLS_TO_PATH: false
      DOTNET_MULTILEVEL_LOOKUP: 0
      DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: true
      TERM: xterm
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
      Configuration: Release
      source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json

    outputs:
      GitBuildVersionSimple: ${{ steps.version.outputs.GitBuildVersionSimple }}

    steps:
      - uses: actions/checkout@v6
        with:
          repository: "flcdrg/chocolatey-au"
          path: "chocolatey-au"
          ref: "simplify"
          persist-credentials: false

      - name: Install
        run: |
          # Install Chocolatey-AU module
          $module_name = 'Chocolatey-AU'
          $module_dst  = "$Env:ProgramFiles\PowerShell\Modules\$module_name"
          New-Item -ItemType Directory "$module_dst" -ErrorAction Ignore | Out-Null
          Copy-Item -Recurse -Force ./src/* $module_dst -Verbose
          Get-InstalledModule | Select-Object Name, Version, InstalledLocation

          # Install vt-cli
          choco install vt-cli -y
        shell: pwsh
        working-directory: chocolatey-au

      - uses: actions/checkout@v6
        with:
          path: "autoupdate"
          persist-credentials: false
          fetch-depth: 0

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: autoupdate/global.json
          source-url: ${{ env.source-url }}
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.nuget/packages
          key: ${{ runner.os }}-dotnet-${{ hashFiles('**/AutoUpdate/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-dotnet-

      - name: Restore
        run: dotnet restore
        working-directory: autoupdate

      - name: Build
        run: dotnet build --no-restore
        working-directory: autoupdate

      - name: Get version
        id: version
        run: |
          echo "$env:GitBuildVersionSimple"
          echo "GitBuildVersionSimple=$($env:GitBuildVersionSimple)" >> "$env:GITHUB_OUTPUT"

      - name: Dump environment
        run: printenv | sort

      - name: Test
        run: dotnet test
        working-directory: autoupdate

      - name: Pack
        run: dotnet pack
        working-directory: autoupdate

      - name: Test install
        run: |
          dir AutoUpdate/nupkg

          dotnet tool install --global flcdrg.AU --source AutoUpdate/nupkg --version $env:NBGV_SemVer2
        working-directory: autoupdate

      - uses: actions/checkout@v6
        with:
          repository: "flcdrg/au-packages"
          path: "packages"

      - name: Configure Git
        run: |
          git config user.email "david@gardinerfamily.au"
          git config user.name "David Gardiner"
        working-directory: packages

      - name: Run
        run: |
          dotnet run
        working-directory: autoupdate/AutoUpdate
        env:
          PACKAGES_REPO: "${{ github.workspace }}/packages"

      - name: Status
        run: |
          git status

          git log --max-count 1 --pretty=medium

          Get-ChildItem -Recurse *.nupkg | Select-Object -ExpandProperty FullName
        working-directory: packages

      - name: NuGet package
        uses: actions/upload-artifact@v6
        with:
          name: nupkg
          path: autoupdate/AutoUpdate/nupkg/*.nupkg

  update_release_draft:
    name: Update release draft
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write

    if: github.ref == 'refs/heads/main' # Running this job only for main branch
    steps:
      - uses: actions/checkout@v5

      - uses: release-drafter/release-drafter@v6
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: ${{ needs.build.outputs.GitBuildVersionSimple }}

      - uses: actions/download-artifact@v7
        with:
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -R artifacts

      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"

      - name: Upload assets
        uses: xresloader/upload-to-github-release@v1
        with:
          file: "artifacts/*.nupkg"
          delete_file: "*.nupkg"
          overwrite: true
          release_id: ${{ steps.create_release.outputs.id }}
